<% cache(cell) do %>
  <% if cell.elements.published.any? %>
    <div class="row">
    <div class="columns large-8">
    <%= render_elements(from_cell: cell, only: :slider_text) %>
    </div>
    <div class="columns large-4">
    <ul data-orbit data-options="timer_speed:3000;navigation_arrows:false;slide_number:false;timer_show_progress_bar:false;bullets:false;pause_on_hover:false;animation:fade;">
      <%= render_elements(from_cell: cell, only: :image_slide) %>
    </ul>
    </div>
    </div>
  <% end %>
<% end %>
