<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {
    var map_position = new google.maps.LatLng(47.224212, 8.865496);
    var marker = new google.maps.Marker({
        position: map_position,
        title:"Hello World!",
        animation: google.maps.Animation.DROP
    });
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
      center: map_position,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="columns">
  <%= render_elements(only: 'headline') %>
  <div class="row">
    <div class="columns large-4">
      <ul class="contact">
        <%= render_elements(only: 'company') %>
        <%= render_elements(only: 'address') %>
      </ul>
      <ul class="contact">
        <%= render_elements(only: 'phone') %>
        <%= render_elements(only: 'fax') %>
        <%= render_elements(only: 'email') %>
      </ul>
    </div>
    <div class="columns large-8">
      <div id="map_canvas"></div>
    </div>
  </div>
</div>
