
<%= element_view_for(element) do |el| -%>
  <h1><%= el.render :headline %></h1>
  <div class="row">
    <div class="columns large-9">
      <%= el.render :text %>
    </div>
    <div class="columns large-3">
      <%= el.render :picture %>
    </div>
  </div>
<%- end -%>
