<li class="right">
  <%= element_view_for(element) do |el| -%>
    <% element.contents.where(name: ['link']).each do |content| %>
      <%= render_essence_view content %>
    <% end %>
  <%- end -%>
</li>
