<%= element_view_for(element) do |el| -%>
  <div class="row item">
  <div class="columns small-1 image">
    <%= el.render :image %>
  </div>
  <div class="columns small-11 text">
    <%= el.render :text %>
  </div>
  </div>
<%- end -%>
