<div class="columns large-4">
<%= element_view_for(element) do |el| -%>
  <%- image = element.contents.essence_pictures.first -%>
  <%- if image -%>
  <div class="image">
      <%= render_essence_view(image, :image_size => "300x230", :crop => true) %>
  </div>
  <%- end -%>

  <div class="fullname">
    <strong><%= el.render :fullname %></strong>
  </div>
  <div class="position">
    <%= el.render :position %>
  </div>
<%- end -%>
</div>
