footer{
  color: #797979;
  position: absolute;
  bottom: 0;
  left:0;
  height: 20px;
  width: 100%;
  text-align: center;
  ul.side-nav{
    line-height: 0;
    margin: 0;
    padding: 0;
  }
}
footer, .small-footer{
  strong{
    text-transform: uppercase;
  }
  .side-nav{
    margin: 0;
    li:not(.right){
      float: left;
      margin-right: 15px;
    }
  }
}
