header{
  #logo{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contain-to-grid{
    background: transparent;
  }
  .row{
    background: #fff image-url('header-bg.png') no-repeat top right;
  }
}
