body, html{
  margin: 0;
  padding: 0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
  background:#5ee;
}
#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
  background:#ee5;
}
body{
  background: #E5EBEE image-url('bg.png') repeat-y center;
  #wrapper{
    min-height:100%;
    main{
      padding-bottom: 40px;
      h1{
        margin: 30px 0 20px 0;
      }
      img{
        border: 2px solid $blue;
        margin-bottom: 10px;
      }
      ul.contact{
        list-style-type: none;
        margin: 0 0 15px 0;
        padding: none;
        strong{
          text-transform: uppercase;
        }
        p{
          margin: 0;
        }
      }
      .layoutArea .column{
        padding: 0;
      }
      #map_canvas{
        width: 630px;
        height: 400px;
        border: 1px solid $blue;
      }
    }
  }
}
#team{
  padding-top: 100px;
  .person{
    margin-bottom: 30px;
  }
}
#list-layout{
  h2{
    margin-top: 30px;
  }
  .item{
    margin-top: 10px;
    .text{
      padding: 18px 0 0 0;
    }
  }
  padding-bottom: 20px;
}

#under_construction{
  background: image-url('under_construction.jpg') center center no-repeat;
  min-height: 700px;

}
