<footer class="hide-for-small">
  <div class="row">
    <div class="columns bottom">
    <% if footer_page %>
      <ul class="side-nav">
        <%= render_elements(from_page: footer_page) %>
      </ul>
    <% end %>
    </div>
  </div>
</footer>
<div class="small-footer show-for-small">
  <% if footer_page %>
    <hr>
    <ul class="side-nav">
      <%= render_elements(only: :company, from_page: footer_page) %>
      <%= render_elements(only: :footer_links, from_page: footer_page) %>
    </ul>
  <% end %>
</div>
