<header>
  <div class="row hide-for-small">
    <div class="columns" id="logo">
      <h1><%= link_to retina_image_tag("logo.png", height: "110", alt: "Wandeler Engineering und Maschinen"), root_path %></h1>
    </div>
  </div>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name show-for-small">
          <h1><%= link_to retina_image_tag("logo-small.png", height: "45", alt: "Wandeler Engineering und Maschinen"), root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <%= render "navigation" %>
      </section>
    </nav>
  </div>
</header>
