<ul class="left">
  <li><%= link_to h(@root_page.name), show_alchemy_page_path(@root_page) %></li>
  <li class="divider"></li>
<% @root_page.children.visible.each do |page| %>
  <li class="<%= page_active?(page) ? 'active' : nil %>"><a><%= link_to h(page.name), show_alchemy_page_path(page) %></a></li>
  <li class="divider"></li>
<% end %>
</ul>
